<style>
  img {
    margin: 20px auto;
    width: 170px;
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  .text {
    padding: 0 40px;
  }

  .text p:nth-child(1) {
    margin-bottom: 10px;
  }

  .button_reset {
    text-align: center;
    margin-top: 30px;
    border: 0;
    background: #ffc72c;
    padding: 15px 0;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
</style>

<img src="https://srfn.com.br/images/logo-p-500.jpeg" alt="Logo Serafine" />
<div class="content">
  <div class="text">
    <p>Uma solicitação de recuperação de senha foi realizada para sua conta <strong>({{ email }})</strong> na Universidade Serafine. Se você não foi o autor, apenas descarte esse e-mail.</p>
    <p>Para continuar com a recuperação de senha clique no botão abaixo para criar uma nova senha. Ah, esse link expira em 48h.</p>
  </div>
  <a class="button_reset" href="http://localhost:3000/reset_password/{{{ token }}}">Criar nova senha</a>
</div>
